<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.label :categoría %><br>
		<%= f.select :category, options_for_select(['Propuesta de ley', 'Petición ciudadana', 'Acción social']), :prompt => true, class: 'form-control' %>
	</div>
	
  <div class="form-group">
    <%= f.label :zona %><br>
    <%= f.select :zone, options_for_select(['Álvaro Obregón', 'Azcapotzalco', 'Benito Juárez', 'Cuajimalpa', 'Coyoacán', 'Cuauhtemoc', 'Gustavo A. Madero', 'Iztacalco', 'Iztapalapa', 'Magdalena Contreras', 'Miguel Hidalgo', 'Milpa Alta', 'Tláhuac', 'Tlalpan', 'Venustiano Carranza', 'Xochimilco']), :prompt => true, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
	<div class="form-group">
    <%= f.label :descripción %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :meta_de_agentes_de_cambio %><br>
    <%= f.number_field :target, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fecha_de_inicio %><br>
    <%= f.date_select :start_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fecha_de_fin %><br>
    <%= f.date_select :end_date, class: 'form-control' %>
  </div>
	<div class="form-group">
		<%= f.label :imagen %><br>
		<%= f.file_field :picture, class: 'btn' %>
	</div>
  <div class="actions">
    <%= f.submit "Crear", class: 'btn btn-primary btn-md' %>
  </div>
<% end %>
