<%= form_tag projects_path, :method => :get do %>
  <div class="form-group">
		<div class="col-md-10">
    	<%= text_field_tag :search, params[:search], class: 'form-control' %>
		</div>
		<div class="col-md-2">
    	<%= submit_tag "Search", :name => nil , :class => 'btn btn-default' %>
		</div>
  </div>
<% end %>
<br><br>

<h1>Causas</h1>

<ul class="thumbnails">
	<div class="row">
	<% @projects.each do |project| %>  
		<div class="col-md-3">
		  <div class="thumbnail">
				<%= image_tag(project.picture_url, :size => "300x200", :class => "img-responsive img-hover") if project.picture.present? %>
		    <h3>
					<%= link_to project.name, project, class: 'btn-link' %>
				</h3>
		    <p>
					<%= project.description %>
				</p>
		  </div>
		</div>
	<% end %>
	</div>
</ul>

<br>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary btn-lg' %>
